<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href={{"/" | relative_url}}>{{site.nav_title}}</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-right: 90px;">
      {% for nav in site.nav %}
        <!--카테고리 목록-->
        {% assign category_name={{nav[0]}} %} 
        <!--서브 카테고리 목록 수-->
        {% assign sub_cnt={{nav[1].size}} %}

        <!--최상위 카테고리-->
        {% if sub_cnt == 1 %}
        {% assign url = {{nav[1]}} %}
        <li class="nav-item">
          <a class="nav-link" href="{{url}}"
            >{{category_name}}<span class="sr-only">(current)</span></a
          >
        </li>
        {% endif %}
        <!--드롭다운 카테고리-->
        {% if sub_cnt > 1 %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{category_name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for sub_category in nav[1] %}
            <a class="dropdown-item" href="/categories?categoryName={{sub_category}}">{{sub_category}}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
