.cate_title, .tag_title{
    text-align: center;
    font-weight: bold;
}
.contents {
    border: 1px solid #e8e8e8;
    padding: 10px;

    ul {
        padding-left:  10px;
        li {
            padding-left: 0px;

            ul li {
                padding-left: 30px;
            }
        }
    }
}
//게시글 목차
.con1 {
    @media(min-width: 768px) {
        display: none;
    }
}
.con2 {
    @media(max-width: 768px) {
        display: none;
    }
}
//태그
.tags {
    a {
        background: #ececec;
        color: black;
        padding: 2px 5px;
        border-radius: 5px;
        font-weight: bold;
    }
}
//인용문
blockquote {
    display: block;
    font-style: italic;
    position: relative;
    border: none;
    padding: 10px;
    margin: 0 0 20px;
    color: #4b4b4b;
    font-size: .9em;
    line-height: 1.2;
    text-align: justify;
    border-left: 10px solid #46e;
    border-right: 2px solid #46e;
    box-shadow: 2px 2px 15px #ccc;
}
.post-content {
    h1 {
        border-bottom: 1px solid black;
    }
}
::-webkit-scrollbar{
    width: 6px; // 세로 스크롤의 너비
    height: 3px; // 가로 스크롤의 너비
    background-color: #ffffff; // 스크롤의 기본 배경색상
}
::-webkit-scrollbar-thumb{
    border-radius: 3px; // 스크롤바 곡률
    background-color: #00ffa1; // 스크롤바 색상
}

::-webkit-scrollbar-track:horizontal{
    background-color: #ffffff; // 가로 스크롤바 색상
} 
