---
layout: default
---
<div class="row">
  <div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h1 class="post-title font-weight-bold" itemprop="name headline">
          {{ page.title }}
        </h1>
        <p class="post-meta">
          <time
            datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
            >{{ page.date | date: site.base_date_format[0]  }}</time
          >&nbsp;
          <span class="tags">
            {% if page.tags %} | 
              {% for tag in page.tags %}
                <a
                  href="/tags?tagName={{ tag }}"
                  class="post-tag"
                  >{{ tag }}</a>
              {% endfor %} 
            {% endif %}
          </span>
        </p>
      </header>
      <div class="mt10 mb20 contents con1">
        <!-- 목차 -->
        <h2>Contents</h2>
        <aside class="toc">
          <div>
            {% include toc.html html=content sanitize=true h_min=1 h_max=2 %}
          </div>
        </aside>
      </div>
      <div class="post-content" itemprop="articleBody">{{ content }}</div>
    </article>

    <div class="next-previous-articles">
      <nav aria-label="">
        <ul class="pagination">
          {% if page.next.url %}
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"
              >&laquo; {{page.next.title}}</a
            >
          </li>
          {% endif %} {% if page.previous.url %}
          <li class="page-item">
            <a class="page-link" href="#">{{page.previous.title}} &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>

    <div class="">
      {% if site.disqus-shortname %} {% include disqus.html %} {% endif %}
    </div>
  </div>

  {% include sidebar.html %}
</div>

{% include fb-script.html %}